.contact-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items:center;
}

.contact-links a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: #5987a5;
  font-weight: 500;
  transition: color 0.2s ease;
}

.contact-links a:hover {
  color: #d55676;
  text-decoration-line:underline;
}

.contact-card {
  background: #f7dddd75;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(208, 148, 148, 0.203);
  width: 90%;
}